@import "@flaticon/flaticon-uicons/css/all/all";

@font-face {
  font-family: 'Fredoka Bold';
  src: url('/public/fonts/Fredoka/static/Fredoka-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Fredoka Regular';
  src: url('/public/fonts/Fredoka/static/Fredoka-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fredoka Variable';
  src: url('/public/fonts/Fredoka/Fredoka-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  letter-spacing: 3px;
}

#main > div > div.MuiStack-root.css-1g0204k-MuiStack-root > div.slick-slider.slick-initialized > div > div > div.slick-slide.slick-active.slick-current > div {
  height: 100%
}

fieldset{
  border-top: 0px solid white !important;
  border-left: 0px solid white !important;
  border-right: 0px solid white !important;
  border-radius: 0px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
  border-bottom: 1px solid black !important;
}

#sixpicsinput {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 0px;
  height: 100% !important;
  font-size: 2.6rem !important;
}

.simple-keyboard .hg-button {
  flex: 1 0 auto !important; /* allow consistent width */
  width: 45px;
  min-width: 36px !important;
  padding: 5px !important; 
  font-size: 25px !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
}

.simple-keyboard .hg-row {
  display: flex;
  justify-content: center;
}

.simple-keyboard .hg-button[data-skbtn="{bksp}"],
.simple-keyboard .hg-button[data-skbtn="{check}"],
.simple-keyboard .hg-button[data-skbtn="{hint}"],
.simple-keyboard .hg-button[data-skbtn="{gethint}"] {
  flex: 1 0 auto !important;
}




@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

#letter_wrapper{
  padding-top: 30px !important;
}

.slick-slider .slick-track, .slick-slider .slick-list{
  height: 100%;
}

#root > div > div.MuiStack-root.css-8arv0k-MuiStack-root > div > div > div > div > div.slick-slide.slick-active.slick-current > div{
  height: 100% !important;
}

.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input{
    /* width: 16px !important;
    height: 16px !important; */
    font-size: 16px !important;
}

.css-1nv1aer-MuiStack-root, .css-1o6xuaw-MuiFormControl-root{
  /* min-width: 100% !important; */
}

.css-900r8q-MuiStack-root{
  height: 25px;
}

html, body {
  overscroll-behavior: none;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  touch-action: pan-y;
  display: flex;
  box-sizing: border-box;
}

#root, .App{
  overflow: hidden;
  max-width: 100dvw;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
